In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
file = Path("Cleaned_Data/merged_all_data.csv")

data = pd.read_csv(file)
df = pd.DataFrame(data)
#Changing index from default to postcode column
df.set_index("POST_CODE",inplace = True)
df.head()

,MUNICIPALITY,CITY_SHIRE,SUBURB_GROUP,SUBURB_NAMES,Median House Price 2022,A Crimes against the person 2023,B Property and deception offences 2023,C Drug offences 2023,D Public order and security offences 2023,E Justice procedures offences 2023,F Other offences 2023,Total Crime 2023,Estimated_Resident_Population_2021,School_Count_2022,Hospital_Count_2023,Police_Count_2023,Supermarket_Count_2023
POST_CODE,,,,,,,,,,,,,,,,,
3003,Inner City municipalities and their suburbs,City of Melbourne,Inner,West Melbourne,1.387500e+06,130,538,60,64,70,7,869,7619,1,0.0,0.0,1.0
3011,Western municipalities and their suburbs,City of Maribyrnong,Mid,"Footscray, Seddon",1.020000e+06,434,1402,100,138,287,4,2365,17420,6,1.0,1.0,1.0
3012,Western municipalities and their suburbs,City of Maribyrnong,Mid,"Brooklyn, Brooklyn, Kingsville, Maidstone, Wes...",9.861250e+05,181,1194,39,49,142,0,1605,11885,3,0.0,0.0,1.0
3013,Western municipalities and their suburbs,City of Maribyrnong,Mid,"Yarraville, Aintree, Bonnie Brook",8.716667e+05,86,575,30,32,69,0,792,15653,5,0.0,0.0,1.0
3015,Western municipalities and their suburbs,City of Hobsons Bay,Mid,"Newport, Spotswood, South Kingsville",1.170833e+06,87,595,19,28,63,1,793,18985,6,0.0,0.0,0.0

In [3]:
print (df.columns)
#Easy copy paste desired columns

Index(['MUNICIPALITY', 'CITY_SHIRE', 'SUBURB_GROUP', 'SUBURB_NAMES',
       'Median House Price 2022', 'A Crimes against the person 2023',
       'B Property and deception offences 2023', 'C Drug offences 2023',
       'D Public order and security offences 2023',
       'E Justice procedures offences 2023', 'F Other offences 2023',
       'Total Crime 2023', 'Estimated_Resident_Population_2021',
       'School_Count_2022', 'Hospital_Count_2023', 'Police_Count_2023',
       'Supermarket_Count_2023'],
      dtype='object')

In [4]:
#Dropping unnecessary columns (for this analysis)
unnecessary = ['MUNICIPALITY', 'CITY_SHIRE','A Crimes against the person 2023',
       'B Property and deception offences 2023', 'C Drug offences 2023',
       'D Public order and security offences 2023',
       'E Justice procedures offences 2023', 'F Other offences 2023']
clean_df = df.drop(columns=unnecessary)

In [5]:
#Applying quotient-cut bins to evenly grade our chosen areas of analysis
clean_df["Affordability Livability Grade"] = pd.qcut(df["Median House Price 2022"], q=5, labels = [5,4,3,2,1])
clean_df["Crime/Population Quotient"] = (clean_df["Total Crime 2023"] / clean_df["Estimated_Resident_Population_2021"])
clean_df["Crime Livability Grade"] = pd.qcut(clean_df["Crime/Population Quotient"],q=5,labels=[5,4,3,2,1])
clean_df["School Livability Grade"] = pd.qcut(clean_df["School_Count_2022"],q=3,labels=[1,2,3])

In [6]:
#Formatting result for readability
move = clean_df.pop("Crime/Population Quotient")
clean_df.insert(5,"Crime/Population Quotient",move)
clean_df.rename(columns = {"Hospital_Count_2023":"Has Hospital"},inplace = True)
clean_df.rename(columns = {"Police_Count_2023":"Has Police Station"},inplace = True)
clean_df.rename(columns = {"Supermarket_Count_2023":"Has Supermarket"},inplace = True)
clean_df

,SUBURB_GROUP,SUBURB_NAMES,Median House Price 2022,Total Crime 2023,Estimated_Resident_Population_2021,Crime/Population Quotient,School_Count_2022,Has Hospital,Has Police Station,Has Supermarket,Affordability Livability Grade,Crime Livability Grade,School Livability Grade
POST_CODE,,,,,,,,,,,,,
3003,Inner,West Melbourne,1.387500e+06,869,7619,0.114057,1,0.0,0.0,1.0,2,2,1
3011,Mid,"Footscray, Seddon",1.020000e+06,2365,17420,0.135763,6,1.0,1.0,1.0,3,1,2
3012,Mid,"Brooklyn, Brooklyn, Kingsville, Maidstone, Wes...",9.861250e+05,1605,11885,0.135044,3,0.0,0.0,1.0,3,1,1
3013,Mid,"Yarraville, Aintree, Bonnie Brook",8.716667e+05,792,15653,0.050597,5,0.0,0.0,1.0,4,3,2
3015,Mid,"Newport, Spotswood, South Kingsville",1.170833e+06,793,18985,0.041770,6,0.0,0.0,0.0,3,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3975,Outer,"Lynbrook, Lyndhurst",8.812500e+05,568,18270,0.031089,3,0.0,0.0,1.0,4,4,1
3976,Outer,Hampton Park,6.650000e+05,1146,12861,0.089107,6,0.0,0.0,1.0,5,2,2
3977,Outer,"Botanic Ridge, Cranbourne, Cranbourne East, Cr...",7.769000e+05,4905,21580,0.227294,25,1.0,1.0,1.0,4,1,3
3978,Outer,"Clyde, Clyde North",7.190000e+05,1500,10642,0.140951,10,0.0,0.0,0.0,5,1,3
3981,Outer,Koo Wee Rup,7.000000e+05,198,10148,0.019511,4,0.0,0.0,0.0,5,5,1

In [7]:
#Calculaing liveability grade across each row
clean_df["Final Liveability Grade"] = clean_df[['Has Hospital',
       'Has Police Station', 'Has Supermarket',
       'Affordability Livability Grade', 'Crime Livability Grade',
       'School Livability Grade']].sum(axis = 1)

In [8]:
#Sorting to find best postcodes via this score
sort_df = clean_df.sort_values(by="Final Liveability Grade",ascending = False)
sort_df.head()

,SUBURB_GROUP,SUBURB_NAMES,Median House Price 2022,Total Crime 2023,Estimated_Resident_Population_2021,Crime/Population Quotient,School_Count_2022,Has Hospital,Has Police Station,Has Supermarket,Affordability Livability Grade,Crime Livability Grade,School Livability Grade,Final Liveability Grade
POST_CODE,,,,,,,,,,,,,,
3138,Outer,Mooroolbark,870000.000000,671,23447,0.028618,10,1.0,1.0,1.0,4,4,3,14.0
3777,Outer,"Badger Creek, Healesville, Healesville",762500.000000,369,14181,0.026021,7,1.0,0.0,1.0,5,5,2,14.0
3140,Outer,Lilydale,877500.000000,905,19783,0.045746,8,1.0,1.0,1.0,4,4,3,14.0
3337,Outer,"Kurunjang, Melton, Melton West",533666.666667,2765,21502,0.128593,15,1.0,1.0,1.0,5,2,3,13.0
3757,Outer,Whittlesea,740000.000000,259,10747,0.024100,5,0.0,1.0,0.0,5,5,2,13.0

In [10]:
#Output to csv
sort_df.to_csv('Output/Liveability Analysis Output.csv')